{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load myfilters %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
  <h3 class="h3" id="head_banner">{% trans "Sign Up" %}</h3>
  <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your
    {{ provider_name }} account to login to
    {{ site_name }}. As a final step, please complete the following form:{% endblocktrans %}</p>

  <form method="POST" class="container-fluid" id="signup_form" action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td class="text-end pe-2 text-light">{{ form.username.label_tag }}</td>
        <td>{{ form.username|addclass:'form-control' }}</td>
        <td>{{ form.username.errors }}</td>
      </tr>
    </table>
    <input class="mt-2 btn btn-outline-light btn-secondary" type="submit" value="{% trans 'Sign Up' %}"/>
  </form>
{% endblock %}
