packages:
    yum:
        amazon-linux-extras: []

commands:
    01_postgres_activate:
        command: sudo amazon-linux-extras enable postgresql13
    02_postgres_install:
        command: sudo yum install -y postgresql-devel
    03_epel_install:
        command: sudo yum install -y https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
        command: sudo yum -q list installed epel-release.noarch &>/dev/null && sudo yum -y reinstall https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm || sudo yum -y install https://dl.fedoraproject.org/pub/epel/epel-release-latest-7.noarch.rpm
    04_luajit_install:
        command: sudo yum install -y luajit
