container_commands:
    01_collectstatic:
        command: "source /var/app/venv/*/bin/activate && django-admin collectstatic --noinput"
    02_migrate:
        command: "source /var/app/venv/*/bin/activate && django-admin migrate --noinput"
        leader_only: true
    03_createsu:
        command: "source /var/app/venv/*/bin/activate && django-admin createsu"
        leader_only: true
    04_import_guides:
        command: "source /var/app/venv/*/bin/activate && django-admin runscript guide_import"
        leader_only: true


option_settings:
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: "GuideToExile.settings"
        PYTHONPATH: "/var/app/staging:/var/app/current:$PYTHONPATH"
        ALLOWED_HOSTS: ".elasticbeanstalk.com"
    aws:elasticbeanstalk:container:python:
        WSGIPath: GuideToExile.wsgi:application
        NumProcesses: 3
        NumThreads: 20
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: run/static

