{% extends "base_generic.html" %}
{% block extrahead %}
    {{ form.media }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-7">
            <form action="{% url 'edit_guide' pk %}" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h5>Items:</h5>
                    <div class="poe-container">
                        {% for item in guide.pob_details.items %}
                            <div class="poe-line">
                                <button class="link" ondblclick="addText(this)">
                                <span class=" poeitem poeitem-{{ item.rarity|lower }}" data-bs-placement="bottom"
                                      data-bs-toggle="tooltip" data-bs-html="true"
                                      title="{{ item.display_html }}">{{ item.name }}</span>
                                </button>
                            </div>


                        {% endfor %}
                    </div>
                </div>
                <div class="col">
                    <h5>Gems:</h5>
                    <div class="poe-container">
                        {% for skill_group in guide.pob_details.skill_groups %}
                            {% for gem in skill_group.gems %}
                                <div class="poe-line ">
                                    <button class="link" ondblclick="addText(this)">
                                        <span class="poeitem {% if gem.is_enabled and skill_group.is_enabled %}poegem-enabled{% else %}poegem-disabled{% endif %}">{{ gem.name }}</span>
                                    </button>
                                </div>
                            {% endfor %}

                            {% if not forloop.last %}
                                <hr class="my-1">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const menubar = document.querySelector('#text-menubar')
        if (menubar) menubar.classList.add('show')

        function addText(el) {
            var test = el.firstElementChild.outerHTML
            editor.commands.insertContent("<span class='some-class'>test</span>")
        }
    </script>
{% endblock %}