{% extends "base_generic.html" %}

{% block content %}
    <ul class="list-group">
        {% for build in build_guide_list %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <a href="{% url 'build_guide' build.build_id %}">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ build.title }}</div>

                    </div>
                    <span class="badge bg-primary rounded-pill">XX</span>
                </a>
            </li>
        {% endfor %}
    </ul>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tempor leo non dui mollis suscipit. Suspendisse
        potenti. Cras mauris purus, tempus at maximus id, aliquet a augue. Vivamus eu mi ex. Fusce lectus nulla, dapibus
        scelerisque congue vitae, porttitor sit amet massa. Aenean scelerisque dapibus nulla ac ultricies. Ut lacinia
        elit at mi elementum, vel iaculis augue rutrum. Cras pharetra metus vel quam lobortis mollis. Aenean in lectus
        id sem tincidunt ultrices ultricies sit amet tortor. Aenean interdum purus elit, ut bibendum tellus fermentum
        in.

        Nullam sed porttitor dui, vel tempus lorem. Cras consectetur lacinia tellus, eu elementum est tempor in.
        Suspendisse placerat auctor est. Integer elementum metus ut suscipit facilisis. Quisque auctor, arcu sed auctor
        bibendum, nunc ipsum scelerisque velit, vitae facilisis purus mi vel mi. Praesent tincidunt interdum nibh eu
        auctor. Proin elementum, velit quis tristique ullamcorper, justo risus facilisis ligula, ac viverra felis mauris
        nec augue. Nam et bibendum tellus. Vestibulum malesuada augue nulla, eget sodales nibh luctus vitae. Aenean ac
        nisi in mi aliquam luctus. Phasellus imperdiet facilisis metus, vitae cursus tortor. Nam vitae ullamcorper nibh.
        Morbi in imperdiet nibh. Quisque pulvinar nulla sed consectetur interdum. Vivamus eu feugiat metus. Ut pretium
        sed tellus ac aliquet.

        Proin posuere mauris sed diam eleifend, vitae luctus nunc varius. Maecenas id ullamcorper tellus. Phasellus
        tempus lacinia nunc sed lobortis. Proin consequat purus at enim ullamcorper consequat. Nam nisl neque, dictum
        quis aliquam vel, blandit a augue. Etiam auctor libero at semper feugiat. In in mollis nibh. Donec ornare mi
        fringilla tempor laoreet. Vivamus mattis malesuada pretium. Integer convallis dolor ac tempus vulputate. Proin
        hendrerit scelerisque molestie. Morbi pharetra, risus a scelerisque semper, nunc nunc maximus leo, non faucibus
        nisi dui at erat. Curabitur fringilla auctor fermentum. In lacinia maximus vulputate.

        Suspendisse non massa convallis, egestas neque sed, pharetra arcu. Pellentesque eros ex, iaculis quis tincidunt
        at, ultrices quis nisi. Maecenas ullamcorper nec diam eget commodo. Curabitur malesuada auctor est, consectetur
        tristique tellus fringilla lacinia. Integer sollicitudin tempor ipsum, vulputate porttitor mauris laoreet
        rhoncus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi gravida
        sagittis ex.

        Nulla iaculis eu ligula in venenatis. Sed eu blandit nunc, a pharetra mauris. Praesent non nunc lacinia,
        lobortis dui quis, pharetra augue. Ut justo purus, eleifend ac enim et, maximus tempus sem. Donec risus dui,
        tempus sit amet tellus a, sagittis auctor urna. Aenean efficitur congue ex eget dignissim. Ut ac neque suscipit,
        lobortis dolor a, elementum mi. Donec ut ipsum posuere, consectetur dolor sed, lacinia libero. Suspendisse eget
        lacus scelerisque, cursus nulla dapibus, euismod erat. Nulla mollis metus non ligula facilisis dapibus. Praesent
        auctor lacus sit amet justo faucibus maximus ut sit amet neque. Maecenas condimentum posuere dui nec vulputate.
        Sed venenatis iaculis iaculis. Integer tincidunt mi risus, vel volutpat eros fermentum eget. Phasellus
        vestibulum faucibus nisl, iaculis luctus lorem imperdiet a.

        Sed facilisis cursus tortor, in congue est tincidunt pretium. Donec malesuada non risus non rhoncus. Nunc
        ullamcorper orci vitae consectetur porta. Proin scelerisque sem urna, id consectetur odio semper et. Donec a
        lacus vitae lacus fringilla vehicula. Integer accumsan bibendum justo, at rhoncus ipsum fermentum ac. Cras diam
        mauris, porttitor et bibendum a, interdum sed urna. Nullam nec tincidunt turpis, a semper erat. Ut eget tellus
        tortor. Morbi eget est eget nunc interdum aliquam. Etiam tincidunt, justo at placerat pulvinar, metus nibh
        sagittis est, ut semper eros purus nec mi.

        Curabitur ultricies ultrices nulla vel lacinia. Vivamus laoreet massa in porta tempor. Aenean faucibus in nibh
        non iaculis. Etiam quis sodales lorem. Integer vitae ex non nulla convallis elementum in tempor eros. Etiam at
        lorem odio. Nunc sed imperdiet tellus, porta convallis nibh. Vestibulum ipsum arcu, elementum vitae turpis quis,
        mattis eleifend felis. Quisque risus turpis, bibendum quis est non, pulvinar suscipit mi. Fusce felis ante,
        aliquet vel augue vel, euismod imperdiet nisl.

        Pellentesque sagittis scelerisque interdum. Aenean molestie porta scelerisque. Cras ante sem, placerat a commodo
        quis, luctus vel sem. In hac habitasse platea dictumst. Suspendisse non massa eu risus rhoncus efficitur sit
        amet sit amet justo. Ut quis aliquam risus. Duis pretium, arcu sed pulvinar finibus, enim nisl tempus eros, vel
        dignissim urna nunc lobortis nisl. Donec ac gravida ligula. Praesent volutpat sem vel elementum pharetra. Nunc
        vel risus ut arcu rutrum sollicitudin. Cras tincidunt odio bibendum arcu malesuada, vitae dapibus turpis
        malesuada. Mauris sed porta est. Sed rutrum ex turpis, eget hendrerit magna aliquam in. Quisque condimentum
        dolor in erat placerat, ac bibendum ipsum suscipit. Ut blandit arcu non ex malesuada, at facilisis orci congue.
        Aenean sit amet nunc sed ante convallis condimentum at cursus ligula.

        Curabitur vulputate velit sem, sed pharetra sem hendrerit at. Interdum et malesuada fames ac ante ipsum primis
        in faucibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris lobortis semper odio, at
        pharetra tellus pellentesque eu. Fusce eleifend id magna pulvinar elementum. In sollicitudin dictum turpis et
        porttitor. Nam mollis neque a lacus tempor lacinia. Morbi ac purus vel massa luctus dapibus. Pellentesque
        habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec vehicula commodo leo,
        vitae ultricies arcu ultrices id. Nulla auctor, mauris vel tempor euismod, nibh velit tempor orci, ut commodo
        tellus justo ac lectus. Cras interdum quam a bibendum feugiat. Vivamus nunc tellus, faucibus sit amet pulvinar
        vitae, bibendum viverra tortor.

        Suspendisse potenti. Etiam efficitur nulla cursus sollicitudin dictum. Donec vulputate arcu in ex tincidunt
        mollis. Vestibulum dictum nulla quis eleifend elementum. Donec hendrerit arcu ut dui scelerisque, in pretium
        dolor posuere. Phasellus fringilla mauris elit, quis scelerisque lectus varius vel. Nunc posuere nulla augue,
        quis blandit felis sollicitudin quis. Nulla sodales quam ac ipsum sollicitudin dapibus. Mauris id purus massa.
        Nulla tempus pulvinar velit. Duis dui lacus, eleifend ultricies felis sed, pharetra lobortis nulla. Suspendisse
        purus nulla, gravida non tempor in, commodo id nunc. Donec quis mi sit amet nisl sagittis venenatis quis a
        libero. Duis vehicula facilisis purus at accumsan. Ut quis libero sed lacus bibendum tristique aliquet non
        tellus.

        Duis nec quam vulputate, consequat sapien eu, ultricies diam. Aliquam mauris orci, consequat ac tempus sit amet,
        pellentesque at lorem. Vestibulum ut odio leo. Proin iaculis lectus sed neque viverra, et tempus sapien
        pharetra. Ut semper ipsum eget pulvinar ornare. Duis vitae leo nunc. In leo mauris, rutrum vel sodales non,
        efficitur sed mauris. Suspendisse vel risus lobortis, tincidunt elit a, volutpat lacus. Fusce mollis ex ante,
        vel venenatis orci posuere vel. Vivamus posuere velit felis. Praesent id purus dolor. Aliquam non dictum augue,
        vel rutrum mauris. Mauris eget justo eget dolor euismod rutrum nec et odio. Donec tortor arcu, euismod eget
        scelerisque a, sollicitudin auctor dui. Aliquam dapibus pulvinar interdum.

        Suspendisse vestibulum id felis in malesuada. Aenean a sem nisi. Nullam sed mauris sit amet nulla iaculis
        convallis. Suspendisse tristique luctus quam vestibulum efficitur. Mauris ultricies eros leo, in finibus elit
        bibendum sed. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam
        neque orci, interdum ac elit quis, blandit eleifend sem. Nam magna augue, pharetra tristique hendrerit in,
        tincidunt id tortor.

        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris eget dictum
        ipsum. Nulla condimentum in ante id lacinia. Mauris in varius justo. Proin ultricies porta odio, eu cursus dui
        ultrices ut. Proin in odio massa. Vivamus urna magna, venenatis eu eros eu, tincidunt dapibus mauris. Ut eget
        justo in neque finibus congue ut in enim. Mauris id nisl quis arcu sodales sodales. Sed metus dui, aliquet quis
        rutrum non, mollis vitae mi. Pellentesque ligula eros, tempor eu justo vitae, dapibus consectetur tellus.

        Mauris luctus diam vitae lorem lacinia, non pellentesque sapien rhoncus. Pellentesque pharetra, dolor at
        tristique rutrum, neque velit viverra nisi, sed vestibulum massa tortor eu massa. Vestibulum dictum accumsan
        ullamcorper. Nam lobortis elit non commodo iaculis. Aliquam ac sem felis. Pellentesque maximus lacinia mi, et
        malesuada lectus tristique et. Integer tempus suscipit metus, vel condimentum ex lacinia vel. Cras sit amet elit
        libero. Quisque dapibus nulla et lectus varius, tincidunt convallis nulla porta. Fusce nec ipsum vel tellus
        pellentesque rhoncus. Praesent nec scelerisque dolor, non rhoncus magna. Vestibulum malesuada urna eu erat
        mollis cursus sed non dui. Sed egestas, risus et faucibus ultrices, odio quam blandit augue, at lacinia nunc
        lacus quis metus. Ut convallis sem ac libero commodo, vel fringilla sem porttitor. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit. Sed varius sollicitudin erat nec hendrerit.

        Sed malesuada, enim vel vehicula suscipit, tortor elit lacinia purus, vitae vestibulum magna ligula quis purus.
        In sed sollicitudin nunc. Duis ac mi aliquet, egestas odio a, scelerisque dolor. Curabitur nisl augue, rutrum in
        iaculis eget, sodales quis augue. Vivamus ullamcorper mattis urna, sed sollicitudin sapien imperdiet eget.
        Aenean vehicula lorem nunc. Morbi ex massa, condimentum vitae tincidunt elementum, eleifend nec orci. Donec non
        purus vel erat aliquam laoreet. Suspendisse ligula augue, bibendum vel feugiat sed, mollis eget metus.
        Pellentesque dictum velit nisi, quis accumsan urna varius vel. Sed varius justo eget volutpat dapibus. Duis
        semper ut risus nec tristique.

        Duis tempor erat eros, id consectetur nunc consectetur in. Fusce non mi ex. Donec sed lacus in ex porta posuere
        id eget ligula. Praesent tincidunt ultrices lobortis. Curabitur posuere facilisis metus nec dapibus. Aliquam sit
        amet mattis dui, sed venenatis ipsum. Donec ut dolor molestie, consequat felis et, eleifend est. Aenean accumsan
        nisl nec sapien mollis, sit amet aliquet magna posuere. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Ut molestie convallis sapien, eget cursus lacus volutpat nec. Aenean nibh odio, blandit vitae molestie
        venenatis, facilisis nec enim. Ut rhoncus nibh eu augue elementum, vitae accumsan est volutpat. Sed dolor
        mauris, vestibulum quis venenatis sit amet, commodo ac lacus.

        Fusce id lacus sit amet mi porttitor commodo volutpat a arcu. Integer ligula felis, dictum at ligula ac, laoreet
        luctus felis. Integer et quam nisi. Morbi non arcu quis nisi finibus dictum nec at dolor. Cras vitae orci diam.
        Aliquam blandit metus venenatis lacus tincidunt vulputate. Aenean ultrices faucibus semper. Praesent malesuada
        odio massa, et egestas dolor rhoncus porttitor.

        In risus turpis, ultrices eu sodales in, malesuada quis nulla. Sed ex enim, finibus in dui non, fringilla
        egestas mauris. Integer purus odio, pretium id aliquam sed, rutrum eu erat. Pellentesque elit elit, interdum sed
        egestas non, feugiat eget elit. Cras id sagittis erat, placerat semper arcu. Cras sodales ornare mauris ac
        fermentum. Etiam quis odio eget odio rhoncus blandit id ornare arcu. Aenean ut ullamcorper purus.

        Mauris aliquam vehicula lorem, eget posuere est molestie et. Vivamus volutpat congue varius. Interdum et
        malesuada fames ac ante ipsum primis in faucibus. Sed felis magna, scelerisque non purus id, cursus mattis leo.
        Nulla ac est in velit laoreet egestas et nec nibh. Proin et venenatis leo, vehicula sodales lorem. Vivamus a
        nibh erat. Nullam pretium elit non dapibus elementum.

        Pellentesque volutpat iaculis urna, ac dapibus risus malesuada placerat. Maecenas imperdiet ultrices ipsum eu
        gravida. Aenean consectetur metus in aliquet convallis. Fusce in dolor et orci hendrerit dictum nec eget ligula.
        Aliquam erat volutpat. Vestibulum varius libero ac sapien rhoncus, quis mollis turpis lobortis. Mauris
        hendrerit, magna et egestas tincidunt, odio elit condimentum diam, nec facilisis augue ex eu elit. Vestibulum
        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam nisl ante, luctus eu
        commodo ac, elementum nec felis.

        Donec mattis dignissim nulla, sit amet mattis tortor commodo congue. Phasellus viverra vulputate dolor, at
        porttitor metus fermentum quis. Curabitur id tempor urna. Aliquam ultrices purus vel risus rhoncus lobortis.
        Integer vitae placerat arcu, sed placerat dolor. Proin tellus lorem, blandit condimentum euismod et, eleifend
        vitae massa. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum
        aliquet dolor sit amet aliquam.

        Duis et semper nisi. Fusce sed libero condimentum nibh egestas convallis. Vivamus consequat lorem at malesuada
        pulvinar. Sed vestibulum ligula velit, at auctor quam cursus non. Aenean nec enim magna. Nullam eros ex,
        ultrices nec enim sit amet, efficitur commodo sapien. Suspendisse potenti. Curabitur sagittis velit non velit
        vestibulum pulvinar luctus eu orci. Morbi cursus molestie arcu, ac gravida velit luctus in. Quisque a interdum
        mi. Pellentesque laoreet eget neque eget pulvinar. Donec ultricies vel metus et mattis. Maecenas lobortis
        ultricies urna ut pharetra. Fusce ligula lacus, lobortis ut justo in, suscipit egestas elit. In hac habitasse
        platea dictumst.

        Quisque consequat turpis ut dui fermentum consequat. Vestibulum placerat vel arcu quis maximus. Vestibulum in
        euismod odio. In malesuada mattis eros, id sollicitudin sapien tempor sit amet. Pellentesque fringilla dictum
        consequat. In vitae scelerisque turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
        cubilia curae; Nulla vitae diam eu justo ultrices laoreet nec eu dolor.

        Integer vulputate sollicitudin nisi, eget commodo lacus consequat id. Morbi egestas massa id sem viverra,
        dapibus tempor eros interdum. Praesent sem augue, egestas quis lobortis ut, interdum blandit mi. Phasellus sit
        amet tellus eu augue laoreet porta. Aliquam at purus neque. Integer tempor ante in sem ultricies posuere.
        Aliquam nec metus ac mi iaculis tincidunt id quis lorem. Vivamus rhoncus dolor sit amet mi rutrum gravida.
        Aliquam nunc libero, scelerisque eu purus ac, tristique laoreet augue. Sed quis nulla laoreet, porta dolor quis,
        ultricies leo. Etiam accumsan pretium auctor. Mauris fringilla ex in tortor vulputate, sit amet dictum sapien
        ullamcorper. Curabitur nec augue iaculis, tempor tortor eu, mattis lorem. Fusce tortor arcu, condimentum vitae
        ipsum nec, suscipit blandit mauris. Aliquam vitae nisl non dolor consequat bibendum. Sed sit amet tempus magna.

        Phasellus eget massa risus. Mauris posuere velit vitae iaculis vulputate. Quisque malesuada pretium nunc, id
        ultricies justo lacinia et. Quisque hendrerit dignissim sapien quis eleifend. Nam eleifend purus a odio laoreet
        mollis. Etiam lacinia efficitur justo id egestas. Proin volutpat, lectus vitae egestas volutpat, turpis massa
        varius sem, a auctor purus diam a eros. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
        inceptos himenaeos. Sed auctor turpis eu nunc tempor rhoncus. Pellentesque pharetra vulputate ipsum sit amet
        tempor. Aliquam vitae ultrices ex. Duis sed arcu ut leo dictum placerat. Sed ac risus dignissim libero luctus
        euismod. Pellentesque erat velit, dapibus eget nisl sit amet, convallis pretium ipsum.
    </div>
{% endblock %}