
.poe-line {
    line-height: 0.8rem;
    padding: 0.15rem 0.3rem;
    font-size: small;
}

.poegem-enabled {
    color: #1aa29b;
}

.poegem-disabled {
    color: #9ba69b;
}

.poeitem-unique {
    color: #AF6025;
}

.poeitem-rare {
    color: #FFFF77;
}

.poeitem-magic {
    color: #418bfd;
}

.poeitem-normal {
    color: white;
}

.poe-container {
    height: 615px;
    width: 255px;
    border: 1px solid #adb5bd;
    overflow: auto;
    background: #352e2b;
}

button.link {
    background: none;
    border: none;
    text-align: left;
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 8px;
    border: 4px solid;
    border-radius: 58%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.2s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.1s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.tab-pane.fade {
    transition: all 0.1s;
    transform: translateY(1rem);
}

.tab-pane.fade.show {
    transform: translateY(0rem);
}

hr {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.gear-container {
    display: grid;
    grid-template-columns: 52px 52px 52px 52px 52px 52px 52px 52px;
    grid-template-rows: 52px 52px 52px 52px 52px 52px 52px 52px;
    gap: 5px 5px;
    grid-auto-flow: row dense;
    justify-content: center;
    align-content: center;
    grid-template-areas:
    "gear-weapon-1 gear-weapon-1 . gear-helmet gear-helmet . gear-weapon-2 gear-weapon-2"
    "gear-weapon-1 gear-weapon-1 . gear-helmet gear-helmet . gear-weapon-2 gear-weapon-2"
    "gear-weapon-1 gear-weapon-1 . gear-body-armour gear-body-armour gear-amulet gear-weapon-2 gear-weapon-2"
    "gear-weapon-1 gear-weapon-1 gear-ring-1 gear-body-armour gear-body-armour gear-ring-2 gear-weapon-2 gear-weapon-2"
    ". gear-gloves gear-gloves gear-body-armour gear-body-armour gear-boots gear-boots ."
    ". gear-gloves gear-gloves gear-belt gear-belt gear-boots gear-boots ."
    "gear-flasks gear-flasks gear-flasks gear-flasks gear-flasks gear-flasks gear-flasks gear-flasks"
    "gear-flasks gear-flasks gear-flasks gear-flasks gear-flasks gear-flasks gear-flasks gear-flasks";
}

.gear-jewels-container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-gap: 5px;
}

.gear-jewel {
    width: 52px !important;
    height: 52px !important;
}

.gear-slot {
    width: 100%;
    height: 100%;
    position: relative;
}

.gear-slot > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gear-weapon-1 {
    grid-area: gear-weapon-1;
}

.gear-weapon-2 {
    grid-area: gear-weapon-2;
}

.gear-helmet {
    grid-area: gear-helmet;
}

.gear-body-armour {
    grid-area: gear-body-armour;
}

.gear-belt {
    grid-area: gear-belt;
}

.gear-ring-1 {
    grid-area: gear-ring-1;
}

.gear-ring-2 {
    grid-area: gear-ring-2;
}

.gear-amulet {
    grid-area: gear-amulet;
}

.gear-boots {
    grid-area: gear-boots;
}

.gear-gloves {
    grid-area: gear-gloves;
}

.gear-flasks {
    display: grid;
    grid-template-columns: 52px 52px 52px 52px 52px 52px 52px;
    grid-template-rows: 52px 52px;
    gap: 0 5px;
    grid-auto-flow: row;
    grid-template-areas:
    ". gear-flask-1 gear-flask-2 gear-flask-3 gear-flask-4 gear-flask-5 ."
    ". gear-flask-1 gear-flask-2 gear-flask-3 gear-flask-4 gear-flask-5 .";
    grid-area: gear-flasks;
    justify-self: center;
}

.gear-flask-1 {
    grid-area: gear-flask-1;
}

.gear-flask-2 {
    grid-area: gear-flask-2;
}

.gear-flask-3 {
    grid-area: gear-flask-3;
}

.gear-flask-4 {
    grid-area: gear-flask-4;
}

.gear-flask-5 {
    grid-area: gear-flask-5;
}

.gear-bg-normal {
    box-shadow: 0 0 25px #FFFFFF32 inset;
    border: 2px solid #FFFFFF48;
}

.gear-bg-magic {
    box-shadow: 0 0 25px #8888FF32 inset;
    border: 2px solid #8888FF48;
}

.gear-bg-rare {
    box-shadow: 0 0 25px #FFFF7732 inset;
    border: 2px solid #FFFF7748;
}

.gear-bg-unique {
    box-shadow: 0 0 25px #AF602532 inset;
    border: 2px solid #AF602548;
}

.gear-bg-placeholder {
    box-shadow: 0 0 25px #FFFFFF08 inset;
    border: 2px solid #FFFFFF0A;
}

.tooltip {
    font-size: 0.95rem;
    line-height: 1.4;
}

.tooltip-inner {
    position: relative;
}

.chosen-container {
    position: relative;
    display: inherit;
    vertical-align: middle;
    font-size: 13px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.chosen-container-single .chosen-search input[type="text"] {
    color: #b0b7be;
}

.chosen-container .chosen-drop {
    position: absolute;
    top: 100%;
    z-index: 1010;
    border: 1px solid #aaa;
    border-top: 0;
    background: #343a40;
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    clip: rect(0, 0, 0, 0);
    -webkit-clip-path: inset(100% 100%);
    clip-path: inset(100% 100%);
}

.chosen-container-multi .chosen-drop {
    width: 30%;
}

.chosen-container .chosen-results {
    color: #b0b7be;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
    color: #b0b7be !important;
}

.chosen-container .chosen-results li.highlighted {
    background-color: #b0b7be;
    background-image: inherit;
    color: #fff;
}

.chosen-container .chosen-results li.no-results {
    color: #777;
    display: list-item;
    background: #352e2b;
}

.chosen-container-multi .chosen-choices {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0 5px;
    width: 100%;
    height: auto;
    border: 1px solid #b0b7be;
    background-color: #352e2b;
    background-image: inherit;
    cursor: text;
    border-radius: 0.25rem;
}

.chosen-container-multi .chosen-choices li.search-choice {
    position: relative;
    margin: 3px 5px 3px 0;
    padding: 3px 20px 3px 5px;
    border: 1px solid #b0b7be;
    max-width: 100%;
    border-radius: 3px;
    background-color: #282222;
    background-image: inherit;
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #b0b7be;
    line-height: 13px;
    cursor: default;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
    padding-right: 5px;
    border: 0.5px solid #b0b7be;
    background-color: #282222;
    background-image: inherit;
    color: #b0b7be;
}

.chosen-container-multi .chosen-drop .result-selected {
    display: list-item;
    color: #717070;
    cursor: default;
}

.chosen-container-active .chosen-single {
    border: 1px solid #9a9795;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-active .chosen-choices {
    border: 1px solid #9a9795;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.chosen-container-single .chosen-single {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0 0 0 8px;
    height: 35px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-color: #352e2b;
    background-image: inherit;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #b0b7be;
    text-decoration: none;
    white-space: nowrap;
    line-height: 30px;
}

.chosen-container-single .chosen-single div {
    padding: 5px 0 0 2px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    border: 1px solid #aaa;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #352e2b;
    background-image: inherit;
    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #b0b7be;
}

.gems-tooltip {
    position: absolute;
    left: 101%;
    top: 0;
    padding: 0.5rem 0.5rem;
    background-color: #000;
    border-radius: 0.25rem;
    width: 450px;
    text-align: initial;
}

.inputfile + label {
    color: hsl(210, 10%, 72%);
}

.inputfile + label {
    border: 1px solid hsl(210, 10%, 72%);
    border-radius: 0.25rem;
    background-color: hsl(18, 10%, 20%);
    padding: 0;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    border-color: hsl(210, 10%, 62%);
}

.inputfile + label span,
.inputfile + label strong {
    padding: 0.5rem 0.5rem;
    /* 10px 20px */
}

.inputfile + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile + label strong {
    height: 100%;
    color: hsl(210, 10%, 72%);
    background-color: hsl(18, 10%, 20%);
    display: inline-block;
    border: 1px solid hsl(210, 10%, 72%);
    border-radius: 0.25rem;
}

.inputfile:focus + label strong,
.inputfile.has-focus + label strong,
.inputfile + label:hover strong {
    background-color: hsl(18, 10%, 10%);
    border-color: hsl(210, 10%, 62%);
}

@media screen and (max-width: 50em) {
    .inputfile + label strong {
        display: block;
    }
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 100%;
    font-size: 0.75rem;
    font-weight: 700;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;

}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.user-avatar {
    background-color: hsl(18, 10%, 20%);
    border: 0;
    border-radius: 0.25rem;
}

.comment-info {
    font-style: italic;
    font-size: 0.8rem;
}

.outer-comment li {
    list-style: none;
    background-color: hsl(18, 10%, 20%);
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.outer-comment {
    padding-left: 0;
}

.comment-text {
    padding: 0.5rem;
}

select.form-select:not([size]):not([multiple]) {
    height: calc(2rem + 2px);
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.datepicker table tr td.day:hover {
    background-color: hsl(18, 15%, 35%);
    color: hsl(210, 10%, 90%);
}

.datepicker table tr td.active, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover {
    background-color: hsl(220, 80%, 25%);
    background-image: -moz-linear-gradient(to bottom, hsl(220, 80%, 45%), hsl(220, 80%, 15%));
    background-image: -ms-linear-gradient(to bottom, hsl(220, 80%, 45%), hsl(220, 80%, 15%));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(hsl(220, 80%, 45%)), to(hsl(220, 80%, 15%)));
    background-image: -webkit-linear-gradient(to bottom, hsl(220, 80%, 45%), hsl(220, 80%, 15%));
    background-image: -o-linear-gradient(to bottom, hsl(220, 80%, 45%), hsl(220, 80%, 15%));
    background-image: linear-gradient(to bottom, hsl(220, 80%, 45%), hsl(220, 80%, 15%));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(220, 80%, 45%)', endColorstr='hsl(220, 80%, 15%)', GradientType=0);
    border-color: hsl(220, 80%, 45%) hsl(220, 80%, 45%) hsl(220, 80%, 15%);
}

.datepicker table tr td.today, .datepicker table tr td.today.disabled, .datepicker table tr td.today.disabled:hover, .datepicker table tr td.today:hover {
    background-color: hsl(40, 50%, 50%);
    background-image: -moz-linear-gradient(to bottom, hsl(40, 50%, 40%), hsl(40, 50%, 60%));
    background-image: -ms-linear-gradient(to bottom, hsl(40, 50%, 40%), hsl(40, 50%, 60%));
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(hsl(40, 50%, 40%)), to(hsl(40, 50%, 60%)));
    background-image: -webkit-linear-gradient(to bottom, hsl(40, 50%, 40%), hsl(40, 50%, 60%));
    background-image: -o-linear-gradient(to bottom, hsl(40, 50%, 40%), hsl(40, 50%, 60%));
    background-image: linear-gradient(to bottom, hsl(40, 50%, 40%), hsl(40, 50%, 60%));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='hsl(40, 50%, 40%)', endColorstr='hsl(40, 50%, 60%)', GradientType=0);
    border-color: hsl(40, 50%, 60%) hsl(40, 50%, 60%) hsl(40, 50%, 40%);
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) rgba(0, 0, 0, .25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    color: #000;
}

.datepicker .datepicker-switch:hover, .datepicker .next:hover, .datepicker .prev:hover, .datepicker tfoot tr th:hover {
    background: hsl(18, 15%, 35%);
}

.datepicker td, .datepicker th {
    text-align: center;
    width: 2rem;
    height: 1.5rem;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: none;
}


.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid hsl(210, 10%, 72%);
    border-top: 0;
    box-shadow: 5px 11px 30px 5px rgba(0, 0, 0, 0.66);
    background-color: hsl(18, 10%, 20%);

    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.autocomplete-suggestion {
    position: relative;
    padding: 5px;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: hsl(210, 10%, 72%);
}

.autocomplete-suggestion b {
    font-weight: normal;
    color: hsl(18, 85%, 55%);
}

.autocomplete-suggestion.selected {
    background-color: hsl(18, 15%, 35%);
}
