<!DOCTYPE html>
<html lang="en" class="vw-100 no-js" style="overflow-x: hidden">
<head>
  {% load static %}
  {% block title %}<title>Guide to Exile</title>{% endblock %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}">
  <link rel="shortcut icon" type="image/png" href="{% static '/favicon/favicon.ico' %}"/>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

  <script src="https://unpkg.com/chosen-js@1.8.7/chosen.jquery.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"
          integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

  <script src="{% static '/js/auto-complete.min.js' %}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
          integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
        integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>

  <link type="text/css" href="{% static '/css/bootstrap.css' %}" rel="stylesheet" media="screen"/>
  <link type="text/css" href="{% static '/css/core.css' %}" rel="stylesheet"/>
  <link rel="stylesheet" href="https://unpkg.com/chosen-js@1.8.7/chosen.css">
  <link type="text/css" href="{% static '/css/custom.css' %}" rel="stylesheet"/>
  <script>(function (e, t, n) {
    var r = e.querySelectorAll("html")[0];
    r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2")
  })(document, window, 0);</script>
  {% block extrahead %} {% endblock %}
</head>
<body class="bg-secondary">
{% block navbar %}{% include 'navbar.html' %}{% endblock %}
<div class="container py-lg-3 px-lg-3 bg-dark rounded-2 text-light ">
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</div>

{% block footer %}{% include 'footer.html' %}{% endblock %}
</body>
</html>
