<!DOCTYPE html>
<html lang="en" class="vw-100" style="overflow-x: hidden">
<head>
  {% load static %}
  {% block title %}<title>Guide to Exile</title>{% endblock %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}">
  <link rel="shortcut icon" type="image/png" href="{% static '/favicon/favicon.ico' %}"/>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <script src="{% static '/js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static '/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static '/chosen_v1.8.7/chosen.jquery.js' %}"></script>

  <link type="text/css" href="{% static '/css/main.css' %}" rel="stylesheet" media="screen"/>
  <link type="text/css" href="{% static '/css/core.css' %}" rel="stylesheet"/>
  <link type="text/css" href="{% static '/css/custom.css' %}" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static '/chosen_v1.8.7/chosen.css' %}">
  {% block extrahead %} {% endblock %}
</head>
<body class="bg-secondary">
{% block navbar %}{% include 'navbar.html' %}{% endblock %}
<div class="container py-lg-3 px-lg-3 bg-dark rounded-lg text-light ">
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</div>
<script>
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    var myDefaultAllowList = bootstrap.Tooltip.Default.allowList
    myDefaultAllowList.span = ['style']
</script>
</body>
</html>
