<div id="comments-output" class="my-2"></div>

{% if user.is_authenticated %}
  <div class="comment-form-container w-50">
    <form id="frm-comment">
      {% csrf_token %}
      <div class="input-row">
        <input type="hidden" name="comment_id" id="commentId"/>
        <textarea maxlength="1000" rows=5 class="form-control" type="text" name="comment"
                  id="comment-input-textarea"
                  placeholder="Add a comment"></textarea>
      </div>
      <div>
        <input type="button" class="my-1 btn btn-outline-light btn-secondary" id="submitButton" value="Send"/>
        <span id="emptyCommentErrorMessage" class="text-danger">Comment cannot be empty!</span>
      </div>
    </form>
  </div>
{% endif %}

<script>
  let page = 1;

  $("#submitButton").click(function () {
    if (!$('#comment-input-textarea').val()) {
      $('#emptyCommentErrorMessage').css('display', 'inline-block')
    } else {
      var str = $("#frm-comment").serialize();

      $.ajax({
        url: "{% url 'add_comment' pk %}",
        data: str,
        type: 'post',
        success: function () {
          $("#comment-input-textarea").val("");
          listComments(1);
        }
      });
    }
  });

  $(document).ready(function () {
    listComments(page);
  });

  function deleteComment(commentId) {
    if (confirm('Are you sure you want to delete this comment?')) {
      let csrfToken = $('input[name=csrfmiddlewaretoken]').val();
      $.ajax({
        url: "{% url 'delete_comment' %}",
        headers: {'X-CSRFToken': csrfToken},
        data: {comment_id: commentId},
        type: 'post',
        success: function () {
          listComments(page)
        }
      });
    }
  }

  function editCommentShow(commentId) {
    if (!$(`#frm-comment-${commentId}`).length) {
      var currentComment = $(`#comment-text-${commentId}`).html().replaceAll('<br>', '\n').trim();
      var divId = '#comment-' + commentId
      var parentDiv = $(divId)
      var editForm = `<div class="comment-form-container mt-2">
                        <form id="frm-comment-${commentId}">
                          {% csrf_token %}
                          <div class="input-row">
                            <input type="hidden" name="comment_id" id="commentId-${commentId}" value="${commentId}"/>
                            <textarea maxlength="1000" rows=5 class="form-control w-50 bg-dark" type="text" name="comment"
                                id="comment-input-textarea-${commentId}" placeholder="Add a Comment">${currentComment}</textarea>
                          </div>
                          <div>
                            <input type="button" class="my-1 btn btn-outline-light btn-dark" id="editButton-${commentId}" value="Send" onclick="editCommentSend(${commentId})"/>
                            <span id="emptyCommentErrorMessage-${commentId}" style="display: none" class="text-danger">Comment cannot be empty!</span>
                          </div>
                        </form>
                      </div>`;
      parentDiv.append(editForm);
    } else {
      $(`#frm-comment-${commentId}`).remove()
    }
  }

  function editCommentSend(commentId) {
    if (!$(`#comment-input-textarea-${commentId}`).val()) {
      $(`#emptyCommentErrorMessage-${commentId}`).css('display', 'inline-block')
    } else {
      var str = $(`#frm-comment-${commentId}`).serialize();

      $.ajax({
        url: "{% url 'edit_comment' %}",
        data: str,
        type: 'post',
        success: function () {
          $(`#comment-input-textarea-${commentId}`).val("");
          listComments(page);
        }
      })
    }
  }

  function listComments(page) {
    $('#emptyCommentErrorMessage').css('display', 'none')
    $.get(
      "{% url 'show_comments' pk %}",
      {page: page},
      function (data) {
        $("#comments-output").html(data);
      });
  }
</script>

