{% extends "base.html" %}
{% block extrahead %}
  {{ form.media }}
{% endblock %}
{% block content %}
  {% load static %}
  <div class="row">
    <div class="col-7">
      <form action="{% url 'edit_guide' pk %}" method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
          {{ form.title.label_tag }}
          {{ form.title }}
          {{ form.title.errors }}
        </div>
        <div class="fieldWrapper">
          {{ form.primary_skills.label_tag }}
          {{ form.primary_skills }}
        </div>
        <div class="fieldWrapper">
          {{ form.text.label_tag }}
          {{ form.text }}
          {{ form.text.errors }}
        </div>
        <input type="submit" class="my-2 btn btn-outline-light btn-secondary" value="Save as draft">
        <button type="button" class="my-2 btn btn-outline-light btn-secondary" onclick="window.history.back();">Cancel
        </button>
        <button type="button" class="me-1 btn btn-outline-light btn-secondary"
                onclick="location.href='{% url 'edit_pob' guide.guide_id %}'">Reload PoB
        </button>
      </form>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          Items: <sup style="font-size:small"><abbr
                title="Double-click to add to the editor. Tooltip will be visible after publishing.">?</abbr></sup>
          <div class="poe-container">
            {% for item in guide.pob_details.items %}
              <div class="poe-line">
                <button class="link" ondblclick="addText(this)">
                  <span class="poeitem-{{ item.rarity|lower }}" data-bs-placement="bottom"
                        data-bs-toggle="tooltip" data-bs-html="true"
                        title="<img srcset='{% static item.asset %} 2x'/>{{ item.display_html }}">
                    {% if item.rarity == 'RARE' or item.rarity == 'UNIQUE' %}
                      {{ item.name }}, {{ item.base_name }}
                    {% else %}
                      {{ item.name }}
                    {% endif %}
                  </span>
                </button>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="col">
          Gems: <sup style="font-size:small"><abbr title="Double-click to add to the editor.">?</abbr></sup>
          <div class="poe-container">
            {% for skill_group in guide.pob_details.skill_groups %}
              {% for gem in skill_group.gems %}
                <div class="poe-line ">
                  <button class="link" ondblclick="addText(this)">
                    <span
                            class="{% if gem.is_enabled and skill_group.is_enabled %}poegem-enabled{% else %}poegem-disabled{% endif %}">{{ gem.alt_quality_pref }}{{ gem.name }}</span>
                  </button>
                </div>
              {% endfor %}

              {% if not forloop.last %}
                <hr style="margin-top: 0.2rem;  margin-bottom: 0.2rem;">
              {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(".chosen-select option[value='{{ guide.pob_details.imported_primary_skill }}']").prop('disabled', true)
    $(".chosen-select option[value='{{ guide.pob_details.imported_primary_skill }}']").prop('selected', true)
    $(".chosen-select").chosen({disable_search_threshold: 6, width: '100%'})

    const menubar = document.querySelector('#text-menubar')
    if (menubar) menubar.classList.add('show')

    function addText(el) {
      let test = el.firstElementChild.outerHTML
      editor.chain()
              .focus()
              .insertContent(test)
              .insertContent(' ')
              .run()

      {# returns to default formatting #}
      const {tr} = editor.view.state
      const {$from, $to} = tr.selection
      tr.removeMark($from.pos - 1, $to.pos)
      tr.setStoredMarks([])
      editor.view.dispatch(tr)
    }

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })

    var myDefaultAllowList = bootstrap.Tooltip.Default.allowList
    myDefaultAllowList.span = ['style']
    myDefaultAllowList.img = ['style', 'srcset', 'alt']
    myDefaultAllowList.div = ['style', 'class']
  </script>
{% endblock %}
