{% load static %}
<div id="gear-gems-tab" style="display: none">
  <div class="dropdown my-2">
    Item set:
    <div style="width: 180px" class="d-inline-block">
      <select id="item_set_select" class="chosen-select" name='item_sets'>
        {% for item_set in item_sets %}
          <option value="{{ item_set.title }}"
                  {% if item_set.set_id == build_guide.pob_details.active_item_set_id %}selected{% endif %}>
            {{ item_set.title }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>

  {% for item_set in item_sets %}
    <div class="item-set" data-title="{{ item_set.title }}"
         style="display: {% if item_set.set_id == build_guide.pob_details.active_item_set_id %}block{% else %}none{% endif %}">

      <div class="row">
        <div class="col-6">
          <div class="align-content-center justify-content-center">
            <div class="gear-container">
              {% for slot_name, item in item_set.slots.items %}
                {% if 'flask' not in slot_name and 'abyssal' not in slot_name and 'swap' not in slot_name %}
                  <div class="gear-{{ slot_name }} gear-slot gear-bg-{{ item.rarity|lower }}" data-bs-toggle="tooltip"
                       data-bs-html="true" data-bs-placement="top" title="{{ item.display_html }}
                     {% if item.skill_groups %}
                     <div class='gems-tooltip'>
                        {% for skill_group in item.skill_groups %}
                          {% for gem in skill_group.gems %}
                            <div class='row'>
                              <div class='col-10'>
                                <img srcset='
                  {% if gem.is_item_provided %}{% static item.asset %}{% else %}{% static gem.asset %}{% endif %}'
                                alt='{{ gem.alt_quality_pref }}{{ gem.name }}' style='width:30px; height: 30px'/>
                                <span
                                  class='{% if gem.is_enabled and skill_group.is_enabled %}poegem-enabled{% else %}poegem-disabled{% endif %}'>
                  {{ gem.alt_quality_pref }}{{ gem.name }}</span>
                                  {% if gem.is_item_provided %}
                                    <em class='small'>(Item provided)</em>
                                  {% endif %}
                              </div>
                              <div class='col'>
                                <div class='float-end row small g-0 justify-content-between text-center' style='width: 45px'>
                                  <div class='col-4'>{{ gem.level }}</div>
                                  <div class='col-4'>/</div>
                                  <div class='col-4'>{{ gem.quality }}</div>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                          {% if not forloop.last %}
                            <hr>
                          {% endif %}
                        {% endfor %}
                     </div>
                    {% endif %}">
                    <img srcset='{% static item.asset %} 1.6x' alt="{{ item.name }}">
                  </div>
                {% endif %}
              {% endfor %}

              {% for slot_name in gear_slots %}
                {% if 'flask' not in slot_name and slot_name not in item_set.slots %}
                  <div class="gear-{{ slot_name }} gear-slot gear-bg-placeholder"></div>
                {% endif %}
              {% endfor %}

              <div class="gear-flasks">
                {% for slot_name, item in item_set.slots.items %}
                  {% if 'flask' in slot_name %}
                    <div class="gear-{{ slot_name }} gear-slot gear-bg-{{ item.rarity|lower }}" data-bs-toggle="tooltip"
                         data-bs-html="true" data-bs-placement="bottom"
                         title="{{ item.display_html }}">
                      <img srcset='{% static item.asset %} 1.6x' alt="{{ item.name }}">
                    </div>
                  {% endif %}
                {% endfor %}
                {% for slot_name in gear_slots %}
                  {% if 'flask' in slot_name and slot_name not in item_set.slots %}
                    <div class="gear-{{ slot_name }} gear-slot gear-bg-placeholder"></div>
                  {% endif %}
                {% endfor %}
              </div>
            </div>
            {% with build_guide.pob_details.used_jewels as used_jewels %}
              {% if used_jewels.abyssal %}
                Abyssal jewels:
                <div class="gear-jewels-container my-1">
                  {% for item in used_jewels.abyssal %}
                    <div class="gear-jewel gear-slot gear-bg-{{ item.rarity|lower }}" data-bs-toggle="tooltip"
                         data-bs-html="true" data-bs-placement="bottom"
                         title="{{ item.display_html }}">
                      <img srcset='{% static item.asset %} 1.6x' alt="{{ item.name }}">
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
              {% if used_jewels.cluster %}
                Cluster jewels:
                <div class="gear-jewels-container my-1">
                  {% for item in used_jewels.cluster %}
                    <div class="gear-jewel gear-slot gear-bg-{{ item.rarity|lower }}" data-bs-toggle="tooltip"
                         data-bs-html="true" data-bs-placement="bottom"
                         title="{{ item.display_html }}">
                      <img srcset='{% static item.asset %} 1.6x' alt="{{ item.name }}">
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
              {% if used_jewels.normal %}
                Other jewels:
                <div class="gear-jewels-container my-1">
                  {% for item in used_jewels.normal %}
                    <div class="gear-jewel gear-slot gear-bg-{{ item.rarity|lower }}" data-bs-toggle="tooltip"
                         data-bs-html="true" data-bs-placement="bottom"
                         title="{{ item.display_html }}">
                      <img srcset='{% static item.asset %} 1.6x' alt="{{ item.name }}">
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
            {% endwith %}

          </div>
        </div>
        <div class="col">
          {% if item_set.unassigned_skill_groups.values %}
            <h5>Additional skill gems:</h5>
            {% for skill_slot in item_set.unassigned_skill_groups.values %}
              <div class="bg-secondary border border-primary-lighter rounded-3 my-2 p-2">
                <h6><strong>{{ skill_slot.0.slot }}</strong></h6>
                {% for skill_group in skill_slot %}
                  {% for gem in skill_group.gems %}
                    <div class="row">
                      <div class="col-10">
                        <img srcset='{% static gem.asset %}' alt="{{ gem.name }}"
                             style='max-width:30px; max-height: 30px'/>
                        <span
                                class="{% if gem.is_enabled and skill_group.is_enabled %}poegem-enabled{% else %}poegem-disabled{% endif %}">{{ gem.name }}</span>
                      </div>
                      <div class="col">
                        <div class="w-100 float-end row small g-0 justify-content-between text-center"
                             style="width: 45px">
                          <div class="col-4">{{ gem.level }}</div>
                          <div class="col-4">/</div>
                          <div class="col-4">{{ gem.quality }}</div>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                  {% if not forloop.last %}
                    <hr>
                  {% endif %}
                {% endfor %}
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}

  <script>
    $("#item_set_select").chosen({disable_search_threshold: 10, width: '100%'})

    $(function () {
      $("#item_set_select").on('change', function (evt, params) {
        $("div.item-set").each(function (i, element) {
          let title1 = params.selected
          let title2 = $(element).data("title").toString().trim()
          if (title1 === title2) {
            $(element).show()
          } else {
            $(element).hide()
          }
        })
      });
    });
  </script>
</div>
