{% load static %}
<div class="dropdown my-2">
  Item set:
  <button class="mx-1 btn btn-secondary text-light dropdown-toggle dropdown-toggle-item-set" type="button"
          id="dropdownMenuButton2"
          data-bs-toggle="dropdown" aria-expanded="false">
    {% for item_set in item_sets %}
      {% if item_set.set_id == build_guide.pob_details.active_item_set_id %}
        {{ item_set.title }}
      {% endif %}
    {% endfor %}
  </button>
  <ul class="dropdown-menu dropdown-menu-item-set dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
    {% for item_set in item_sets %}
      <li>
        <button
          class="link dropdown-item {% if item_set.set_id == build_guide.pob_details.active_item_set_id %}active{% endif %}">
          {{ item_set.title }}
        </button>
      </li>
    {% endfor %}
  </ul>
</div>
{% for item_set in item_sets %}
  <div class="item-set" data-title="{{ item_set.title }}"
       style="display: {% if item_set.set_id == build_guide.pob_details.active_item_set_id %}block{% else %}none{% endif %}">

    <div class="row">
      <div class="col-6">
        <div class="align-content-center justify-content-center">
          <div class="gear-container">
            {% for slot_name, item in item_set.slots.items %}
              {% if 'flask' not in slot_name and 'abyssal' not in slot_name %}
                <div class="gear-{{ slot_name }} gear-slot gear-bg-{{ item.rarity|lower }}" data-bs-toggle="tooltip"
                     data-bs-html="true" data-bs-placement="top" title="{{ item.display_html }}
                     {% if item.skill_groups %}
                     <div class='gems-tooltip'>
                        {% for skill_group in item.skill_groups %}
                          {% for gem in skill_group.gems %}
                            <div class='row'>
                              <div class='col-10'>
                                <img srcset='
                  {% if gem.is_item_provided %}{% static item.asset %}{% else %}{% static gem.asset %}{% endif %}'
                                alt='{{ gem.name }}' style='width:30px; height: 30px'/>
                                <span
                                  class='{% if gem.is_enabled and skill_group.is_enabled %}poegem-enabled{% else %}poegem-disabled{% endif %}'>{{ gem.name }}</span>
                                  {% if gem.is_item_provided %}
                                    <em class='small'>(Item provided)</em>
                                  {% endif %}
                              </div>
                              <div class='col'>
                                <div class='float-end row small g-0 justify-content-between text-center' style='width: 45px'>
                                  <div class='col-4'>{{ gem.level }}</div>
                                  <div class='col-4'>/</div>
                                  <div class='col-4'>{{ gem.quality }}</div>
                                </div>
                              </div>
                            </div>
                          {% endfor %}
                          {% if not forloop.last %}
                            <hr>
                          {% endif %}
                        {% endfor %}
                     </div>
                    {% endif %}">
                  <img srcset='{% static item.asset %} 1.6x' alt="{{ item.name }}">
                </div>
              {% endif %}
            {% endfor %}

            {% for slot_name in gear_slots %}
              {% if 'flask' not in slot_name and slot_name not in item_set.slots %}
                <div class="gear-{{ slot_name }} gear-slot gear-bg-placeholder"></div>
              {% endif %}
            {% endfor %}

            <div class="gear-flasks">
              {% for slot_name, item in item_set.slots.items %}
                {% if 'flask' in slot_name %}
                  <div class="gear-{{ slot_name }} gear-slot gear-bg-{{ item.rarity|lower }}" data-bs-toggle="tooltip"
                       data-bs-html="true" data-bs-placement="bottom"
                       title="{{ item.display_html }}">
                    <img srcset='{% static item.asset %} 1.6x' alt="{{ item.name }}">
                  </div>
                {% endif %}
              {% endfor %}
              {% for slot_name in gear_slots %}
                {% if 'flask' in slot_name and slot_name not in item_set.slots %}
                  <div class="gear-{{ slot_name }} gear-slot gear-bg-placeholder"></div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
          {% with build_guide.pob_details.used_jewels as used_jewels %}
            {% if used_jewels.abyssal %}
              Abyssal jewels:
              <div class="gear-jewels-container my-1">
                {% for item in used_jewels.abyssal %}
                  <div class="gear-jewel gear-slot gear-bg-{{ item.rarity|lower }}" data-bs-toggle="tooltip"
                       data-bs-html="true" data-bs-placement="bottom"
                       title="{{ item.display_html }}">
                    <img srcset='{% static item.asset %} 1.6x' alt="{{ item.name }}">
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            {% if used_jewels.cluster %}
              Cluster jewels:
              <div class="gear-jewels-container my-1">
                {% for item in used_jewels.cluster %}
                  <div class="gear-jewel gear-slot gear-bg-{{ item.rarity|lower }}" data-bs-toggle="tooltip"
                       data-bs-html="true" data-bs-placement="bottom"
                       title="{{ item.display_html }}">
                    <img srcset='{% static item.asset %} 1.6x' alt="{{ item.name }}">
                  </div>
                {% endfor %}
              </div>
            {% endif %}
            {% if used_jewels.normal %}
              Other jewels:
              <div class="gear-jewels-container my-1">
                {% for item in used_jewels.normal %}
                  <div class="gear-jewel gear-slot gear-bg-{{ item.rarity|lower }}" data-bs-toggle="tooltip"
                       data-bs-html="true" data-bs-placement="bottom"
                       title="{{ item.display_html }}">
                    <img srcset='{% static item.asset %} 1.6x' alt="{{ item.name }}">
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          {% endwith %}

        </div>
      </div>
      <div class="col">
        {% if item_set.unassigned_skill_groups.values %}
          <h5>Additional skill gems:</h5>
          {% for skill_slot in item_set.unassigned_skill_groups.values %}
            <div class="bg-secondary rounded-3 my-2 p-2">
              {{ skill_slot.0.slot }}
              {% for skill_group in skill_slot %}
                {% for gem in skill_group.gems %}
                  <div class="row">
                    <div class="col-10">
                      <img srcset='{% static gem.asset %}' alt="{{ gem.name }}"
                           style='max-width:30px; max-height: 30px'/>
                      <span
                        class="{% if gem.is_enabled and skill_group.is_enabled %}poegem-enabled{% else %}poegem-disabled{% endif %}">{{ gem.name }}</span>
                    </div>
                    <div class="col">
                      <div class="w-100 float-end row small g-0 justify-content-between text-center"
                           style="width: 45px">
                        <div class="col-4">{{ gem.level }}</div>
                        <div class="col-4">/</div>
                        <div class="col-4">{{ gem.quality }}</div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
                {% if not forloop.last %}
                  <hr>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
{% endfor %}

<script>$(function () {
  $(".dropdown-menu-item-set li button").click(function () {
    $(".dropdown-toggle-item-set").text($(this).text());
    $(".dropdown-toggle-item-set").val($(this).text());
    $(".dropdown-menu-item-set li button.active").removeClass('active')
    $(this).addClass('active')

    $("div.item-set").each(function (i, element) {
      let title1 = $(".dropdown-toggle-item-set").text().trim()
      let title2 = $(element).data("title").trim()
      if (title1 === title2) {
        $(element).show()
      } else {
        $(element).hide()
      }
    })
  });
});</script>
