{% extends "base.html" %}
{% load myfilters %}
{% block content %}
  <div class="accordion mb-2" id="filterAccordion">
    <div class="accordion-item">
      <div class="accordion-header" id="filterFormHeading">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#filterFormContainer"
                aria-expanded="true" aria-controls="filterFormContainer">
          Search filter
        </button>
      </div>
      <div id="filterFormContainer" class="accordion-collapse collapse" aria-labelledby="filterFormHeading"
           data-bs-parent="#filterAccordion">
        <div class="accordion-body pb-2">
          <form class="row" id="filterForm">
            {% csrf_token %}
            <div class="col-6 mb-2">
              {{ filter_form.title.label_tag }}
              {{ filter_form.title|addclass:'form-control p-1' }}
            </div>
            <div class="col-auto mb-2">
              {{ filter_form.base_class_name.label_tag }}
              {{ filter_form.base_class_name|addclass:'form-select p-1' }}
            </div>
            <div class="col-auto mb-2">
              {{ filter_form.asc_class_name.label_tag }}
              {{ filter_form.asc_class_name|addclass:'form-select p-1' }}
            </div>
            <div class="col-auto mb-2">
              {{ filter_form.author_username.label_tag }}
              {{ filter_form.author_username|addclass:'form-control p-1' }}
            </div>
            <div class="col-auto mb-2" id="datepickerContainer">
              {{ filter_form.updated_after.label_tag }}
              {{ filter_form.updated_after|addclass:'form-control p-1' }}
            </div>
            <div class="col-auto mb-2">
              {{ filter_form.liked_by_me.label_tag }}
              {{ filter_form.liked_by_me|addclass:'form-select p-1' }}
            </div>
            <input type="button" class="my-1 btn btn-outline-light btn-secondary" id="submitButton" value="Search"/>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="guideList"></div>
  <script>
    function find_guides() {
      var str = $("#filterForm").serialize();

      $.ajax({
        url: "{% url 'guide_list' %}",
        data: str,
        type: 'post',
        success: function (data) {
          $('#guideList').html(data)
        }
      });
    }

    $("#submitButton").click(find_guides);

    $(document).ready(function () {
      find_guides()
    });

    $(function () {
      var availableTitles = [{% for title in titles %}"{{title.title}}", {% endfor %}];
      $("#id_title").autocomplete({
        source: availableTitles
      });

      var availableAuthors = [{% for author in authors %}"{{author.author__user__username}}", {% endfor %}];
      $("#id_author").autocomplete({
        source: availableAuthors
      });
    });

    $('#datepickerContainer input').datepicker({
      format: "yyyy-mm-dd",
      maxViewMode: 2,
      todayBtn: true,
      autoclose: true,
      todayHighlight: true,
      toggleActive: true
    });
  </script>
{% endblock %}
