{% extends "base.html" %}
{% load myfilters %}
{% block content %}
  <div class="accordion mb-2" id="filterAccordion">
    <div class="accordion-item">
      <div class="accordion-header" id="filterFormHeading">
        <button class="accordion-button fs-5 fw-bold collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#filterFormContainer"
                aria-expanded="true" aria-controls="filterFormContainer">
          Search filter
        </button>
      </div>
      <div id="filterFormContainer" class="accordion-collapse collapse" aria-labelledby="filterFormHeading"
           data-bs-parent="#filterAccordion">
        <div class="accordion-body pb-2">
          <form id="filterForm" autocomplete="off">
            {% csrf_token %}
            <div class="row">
              <div class="col-6 mb-2">
                {{ filter_form.title.label_tag }}
                {{ filter_form.title|addclass:'form-control p-1' }}
              </div>
              <div class="col-auto mb-2">
                {{ filter_form.author_username.label_tag }}
                {{ filter_form.author_username|addclass:'form-control p-1' }}
              </div>
              <div class="col-auto mb-2" style="width: 150px;">
                {{ filter_form.base_class_name.label_tag }}
                {{ filter_form.base_class_name|addclass:'chosen-select p-1' }}
              </div>
              <div class="col-auto mb-2" style="width: 150px;">
                {{ filter_form.asc_class_name.label_tag }}
                {{ filter_form.asc_class_name|addclass:'chosen-select p-1' }}
              </div>
              <div class="col-auto mb-2" style="width: 250px;">
                {{ filter_form.active_skill.label_tag }}
                {{ filter_form.active_skill|addclass:'chosen-select p-1' }}
              </div>
              <div class="col-auto mb-2" style="width: 450px;">
                {{ filter_form.keystones.label_tag }}
                {{ filter_form.keystones }}
              </div>
              <div class="col-auto mb-2" style="width: 450px;">
                {{ filter_form.unique_items.label_tag }}
                {{ filter_form.unique_items }}
              </div>
              <div class="col-auto mb-2" id="datepickerContainer" style="width: 150px;">
                {{ filter_form.updated_after.label_tag }}
                {{ filter_form.updated_after|addclass:'form-control p-1' }}
              </div>
              <div class="col-auto mb-2">
                {{ filter_form.liked_by_me.label_tag }}
                {{ filter_form.liked_by_me|addclass:'chosen-select p-1' }}
              </div>
            </div>
            <input type="button" class="my-1 btn btn-outline-light btn-secondary" id="submitButton" value="Search"/>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div id="guideList"></div>
  <script>
    function searchUser() {
      console.log(this.text())
    }

    $(".chosen-select").chosen({disable_search_threshold: 10, width: '100%'})

    let page = 1;

    function find_guides(page) {
      var str = $("#filterForm").serialize();
      str += "&page=" + page;

      $.ajax({
        url: "{% url 'guide_list' %}",
        data: str,
        type: 'post',
        success: function (data) {
          $('#guideList').html(data)
        }
      });
    }

    const asc_class_mapping = {
      '0': ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19'],
      '1': ['0', '1', '2', '3'],
      '2': ['0', '4', '5', '6'],
      '3': ['0', '7', '8', '9'],
      '4': ['0', '10', '11', '12'],
      '5': ['0', '13', '14', '15'],
      '6': ['0', '16', '17', '18'],
      '7': ['0', '15'],
    }


    $(document).ready(function () {
      $("#submitButton").click(find_guides);

      let baseClassName = $("#id_base_class_name");
      baseClassName.change(function () {
        set_asc_classes(this.value);
      });

      set_asc_classes(baseClassName.val());

      find_guides(page)
    });

    function set_asc_classes(base_class_value) {
      $("#id_asc_class_name option").each(function () {
        if (asc_class_mapping[base_class_value].includes($(this).val())) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
      let ascClassName = $("#id_asc_class_name");
      if (!asc_class_mapping[base_class_value].includes(ascClassName.value)) {
        ascClassName.val('0')
      }
    }


    var titleAutoComplete = new autoComplete({
      selector: '#id_title',
      minChars: 1,
      source: function (term, suggest) {
        term = term.toLowerCase();
        var choices = [{% for title in titles %}"{{title.title}}", {% endfor %}];
        var matches = [];
        for (var i = 0; i < choices.length; i++)
          if (~choices[i].toLowerCase().indexOf(term)) matches.push(choices[i]);
        suggest(matches);
      }
    });


    var authorAutoComplete = new autoComplete({
      selector: '#id_author_username',
      minChars: 1,
      source: function (term, suggest) {
        term = term.toLowerCase();
        var choices = [{% for author in authors %}"{{author.author__user__username}}", {% endfor %}];
        var matches = [];
        for (var i = 0; i < choices.length; i++)
          if (~choices[i].toLowerCase().indexOf(term)) matches.push(choices[i]);
        suggest(matches);
      }
    });


    $('#datepickerContainer input').datepicker({
      format: "yyyy-mm-dd",
      maxViewMode: 2,
      todayBtn: true,
      autoclose: true,
      todayHighlight: true,
      toggleActive: true
    });
  </script>
{% endblock %}
