{% extends "base.html" %}
{% load myfilters %}
{% block content %}
  <div id="guide-list-container">
    <div id="loading-spinner" class="lds-ring-big lds-ring">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <script>
    let page = 1;

    $("#guide-list").fadeOut(150, function () {
      $("#loading-spinner").fadeIn(150);
      $("#guide-list").remove();
    });

    function find_guides(page) {
      var page_str = "&page=" + page;

      $.ajax({
        url: "{% url 'my_guides_list' %}",
        data: page_str,
        type: 'get',
        success: function (data) {
          $('#guide-list-container').append(data)
          $("#guide-list").ready(function () {
            $("#loading-spinner").fadeOut(150, function () {
              $("#guide-list").fadeIn(150);
            });
          });
        }
      });
    }


    $(document).ready(function () {
      find_guides(page)
    });

  </script>
{% endblock %}
