<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark vw-100">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">Guide to Exile</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-4 mb-md-0">
        <li class="nav-item">
          {% url 'index' as index_url %}
          <a class="nav-link {% if request.get_full_path == index_url %} active {% endif %}"
             href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          {% url 'new_guide' as new_guide_url %}
          <a class="nav-link {% if request.get_full_path == new_guide_url %} active {% endif %}"
             href="{% url 'new_guide' %}">New guide</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'liked_guides' %}">My liked guides</a>
        </li>

      </ul>
      <div class="text-end navbar-nav ">
        {% if user.is_authenticated %}
          <div class="text-light nav-item me-1 my-auto">User: {{ user.get_username }}</div>
          <button class="me-1 btn btn-outline-light btn-secondary"
                  onclick="location.href='{% url 'user_settings' %}'">User settings
          </button>

          <button class="me-1 btn btn-outline-light btn-secondary"
                  onclick="location.href='{% url 'logout' %}?next={{ request.path }}'">Logout
          </button>
        {% else %}
          <button class="me-1 btn btn-outline-light btn-secondary"
                  onclick="location.href='{% url 'login' %}?next={{ request.path }}'">Login
          </button>
          <button class="me-1 btn btn-outline-light btn-secondary"
                  onclick="location.href='{% url 'signup' %}?next={{ request.path }}'">Sign up
          </button>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
