{% extends "base.html" %}
{% block content %}
    <div class="col-6">
        <form action="{% url 'new_guide' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input class='btn my-2 btn-outline-light btn-secondary' type="submit" value="Submit"
                   onclick="showSpinner()">
            <div id='spinner' class="lds-ring" style="display: none">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div>Before exporting a build, make sure to select in Path of Build a correct skill, gear set and tree.
                Statistics in your build guide are based on selections made in Path of Building.
            </div>
        </form>
    </div>
    <script>
        function showSpinner() {
            let x = document.getElementById("spinner");
            if (x.style.display === "none") {
                x.style.display = "inline-block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
{% endblock %}
