{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="row">
    <div class="col-9 mb-2">
      <h3 class="mb-0"><strong>{{ build_guide.title }}</strong></h3>
      <div style="font-size: small">
        Created: {{ build_guide.creation_datetime|date:'Y-m-d H:i' }}.
        {% if build_guide.creation_datetime != build_guide.modification_datetime %}
          Last modified: {{ build_guide.modification_datetime|date:'Y-m-d H:i' }}.
        {% endif %}
      </div>
    </div>
    <div class="col row text-end">
      {% with build_guide.author as user_profile %}
        <div class="col"><h4 class="mb-0"><a
          href="{% url 'user_profile' user_profile.user_id user_profile.user.username %}">
          {{ user_profile.user.username }}</a></h4>
          {% if user_profile.youtube_url %}
            <a href="{{ user_profile.youtube_url }}">YouTube.com</a><br/>
          {% endif %}

          {% if user_profile.twitch_url %}
            <a href="{{ user_profile.twitch_url }}">Twitch.tv</a>
          {% endif %}
        </div>
        <div class="col-auto "><img id="avatar_preview" alt="Avatar" width="80" height="80"
                                    src="{% if user_profile.avatar %}
                                          {{ user_profile.avatar.url }}
                                        {% else %}
                                          {% static 'icons/avatar_placeholder.svg' %}
                                        {% endif %}"
                                    class="user-avatar"/></div>
      {% endwith %}
    </div>
  </div>
  {% if user == build_guide.author.user %}
    <button class="mb-2 btn btn-outline-light btn-secondary"
            onclick="location.href='{% url 'edit_guide' pk %}'">
      Edit
    </button>
  {% endif %}
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-guide-tab" data-bs-toggle="tab" data-bs-target="#nav-guide"
              type="button" role="tab" aria-controls="nav-guide" aria-selected="true">Guide
      </button>
      <button class="nav-link" id="nav-skill-tree-tab" data-bs-toggle="tab" data-bs-target="#nav-skill-tree"
              type="button" role="tab" aria-controls="nav-skill-tree" aria-selected="false">Skill tree
      </button>
      <button class="nav-link" id="nav-gear-and-gems-tab" data-bs-toggle="tab" data-bs-target="#nav-gear-and-gems"
              type="button" role="tab" aria-controls="nav-gear-and-gems" aria-selected="false">Gear and gems
      </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-guide" role="tabpanel"
         aria-labelledby="nav-guide-tab">{% include 'guide_tab.html' %}</div>
    <div class="tab-pane fade" id="nav-skill-tree" role="tabpanel"
         aria-labelledby="nav-skill-tree-tab">{% include 'skill_tree_tab.html' %}</div>
    <div class="tab-pane fade" id="nav-gear-and-gems" role="tabpanel"
         aria-labelledby="nav-gear-and-gems-tab">{% include 'gear_gems_tab.html' %}
    </div>
  </div>



{% endblock %}
