{% extends "base.html" %}
{% load static %}
{% block content %}

  <div class="row mb-2 mx-0 gap-2">

    <div class="col bg-secondary border border-primary-lighter rounded-3 p-2">
      <div class="row m-0">
        <img src="{% static build_guide.ascendancy_class.portrait_icon_80x80 %}" height="80" width="80"
             class="w-auto p-0" title="{{ build_guide.ascendancy_class }}">
        <div class="col">
          <h5><strong>{{ build_guide.title }}</strong></h5>
          <strong>Primary skills:</strong> {{ build_guide.pob_details.main_active_skills|join:', ' }}
        </div>
      </div>

      <div class="row mt-1 lh-sm">
        <small>
          {% if build_guide.creation_datetime %}
            Created: {{ build_guide.creation_datetime|date:'Y-m-d H:i' }}
          {% endif %}
          {% if build_guide.creation_datetime != build_guide.modification_datetime %}
            <br/>Last modified: {{ build_guide.modification_datetime|date:'Y-m-d H:i' }}
          {% endif %}
        </small>
      </div>

    </div>
    <div class="ps-3 p-1 bg-secondary col-auto text-end float-end border border-primary-lighter rounded-3">
      {% with build_guide.author as author %}
        <div class="row">
        <div class="col-auto "><h5>
          <strong>{{ author.user.username }}</strong></h5>
          {% if author.youtube_url %}
            <a class="fs-7 text-light bg-dark border border-1 border-primary-lighter
            rounded-pill badge text-decoration-none"
               href="{{ author.youtube_url }}">
              YouTube.com
            </a><br/>
          {% endif %}
          {% if author.twitch_url %}
            <a
              class="fs-7 text-light bg-dark border border-1 border-primary-lighter rounded-pill badge text-decoration-none"
              href="{{ author.twitch_url }}">
              Twitch.tv
            </a><br/>
          {% endif %}
          <a
            class="fs-7 text-light bg-dark border border-1 border-primary-lighter rounded-pill badge text-decoration-none"
            href="{% url 'index' %}?author_username={{ author.user.username }}">
            All guides
          </a>
        </div>
        <div class="col-auto"><img id="avatar_preview" alt="Avatar" width="120" height="120"
                                   src="{% if user_profile.avatar %}
                                          {{ user_profile.avatar.url }}
                                        {% else %}
                                          {% static 'icons/avatar_placeholder.svg' %}
                                        {% endif %}"
                                   class="user-avatar"/></div>
      {% endwith %}
      </div>
    </div>
  </div>


  {% if build_guide.is_draft %}
    <div class="mb-2 bg-warning text-warning bg-opacity-25 p-2  border border-warning rounded-3">This is just a <strong>Draft</strong>.
      Others won't be able to see it unless you <strong>Publish</strong> it!
    </div>
  {% endif %}
  {% if build_guide.is_archived %}
    <div class="mb-2 bg-warning text-warning bg-opacity-25 p-2  border border-warning rounded-3">This is guide is
      <strong>Archived</strong>.
      Others won't be able to see it unless you <strong>Unarchive</strong> it!
    </div>
  {% endif %}
  <div class="row">
    <div class="col">
      {% if not build_guide.is_draft %}
        <button class="mb-2 btn btn-outline-light btn-secondary" id="like-btn"
                onclick="addRemoveLike()" {% if not user.is_authenticated or user == build_guide.author.user %}
                disabled {% endif %}
                title="test" data-bs-placement="bottom" data-bs-toggle="tooltip">
          ?
          <svg height="20px" width="20px"
               viewBox="0 0 512 512" style="margin-top: -2px">
            <path d="M474.644,74.27C449.391,45.616,414.358,29.836,376,29.836c-53.948,0-88.103,32.22-107.255,59.25
              c-4.969,7.014-9.196,14.047-12.745,20.665c-3.549-6.618-7.775-13.651-12.745-20.665c-19.152-27.03-53.307-59.25-107.255-59.25
              c-38.358,0-73.391,15.781-98.645,44.435C13.267,101.605,0,138.213,0,177.351c0,42.603,16.633,82.228,52.345,124.7
              c31.917,37.96,77.834,77.088,131.005,122.397c19.813,16.884,40.302,34.344,62.115,53.429l0.655,0.574
              c2.828,2.476,6.354,3.713,9.88,3.713s7.052-1.238,9.88-3.713l0.655-0.574c21.813-19.085,42.302-36.544,62.118-53.431
              c53.168-45.306,99.085-84.434,131.002-122.395C495.367,259.578,512,219.954,512,177.351
              C512,138.213,498.733,101.605,474.644,74.27z M309.193,401.614c-17.08,14.554-34.658,29.533-53.193,45.646
              c-18.534-16.111-36.113-31.091-53.196-45.648C98.745,312.939,30,254.358,30,177.351c0-31.83,10.605-61.394,29.862-83.245
              C79.34,72.007,106.379,59.836,136,59.836c41.129,0,67.716,25.338,82.776,46.594c13.509,19.064,20.558,38.282,22.962,45.659
              c2.011,6.175,7.768,10.354,14.262,10.354c6.494,0,12.251-4.179,14.262-10.354c2.404-7.377,9.453-26.595,22.962-45.66
              c15.06-21.255,41.647-46.593,82.776-46.593c29.621,0,56.66,12.171,76.137,34.27C471.395,115.957,482,145.521,482,177.351
              C482,254.358,413.255,312.939,309.193,401.614z" fill="currentcolor"></path>
          </svg>
        </button>
      {% endif %}
    </div>
    <div class="col">
      <div class="float-end">
        {% if user == build_guide.author.user %}
          {% if build_guide.is_draft %}
            <button class="mb-2 btn opacity-75 btn-outline-warning btn-secondary"
                    onclick="location.href='{% url 'clear_draft' build_guide.guide_id %}'">
              Delete draft
            </button>
          {% endif %}
          {% if build_guide.is_draft and build_guide.public_version %}
            <button class="mb-2 btn btn-outline-light btn-secondary"
                    onclick="location.href='{% url 'show_guide' build_guide.public_version.guide_id build_guide.public_version.slug %}'">
              {% if build_guide.public_version.is_public %}
                Public version
              {% else %}
                Archived version
              {% endif %}
            </button>
          {% endif %}
          {% if not build_guide.is_draft and build_guide.modification_datetime < build_guide.draft.modification_datetime %}
            <button class="mb-2 btn btn-outline-light btn-secondary"
                    onclick="location.href='{% url 'show_draft' pk %}'">
              Show draft
            </button>
          {% endif %}
          {% if build_guide.is_draft %}
            <button class="mb-2 btn btn-outline-light btn-secondary"
                    onclick="location.href='{% url 'publish_guide' pk %}'">
              Publish
            </button>
          {% endif %}
          {% if build_guide.is_public %}
            <button class="mb-2 btn btn-outline-light btn-secondary"
                    onclick="location.href='{% url 'archive_guide' pk %}'">
              Archive
            </button>
          {% endif %}
          {% if build_guide.is_archived %}
            <button class="mb-2 btn btn-outline-light btn-secondary"
                    onclick="location.href='{% url 'unarchive_guide' pk %}'">
              Unarchive
            </button>
          {% endif %}
          <button class="mb-2 btn btn-outline-light btn-secondary"
                  onclick="location.href='{% url 'edit_guide' pk %}'">
            Edit
          </button>
        {% endif %}
      </div>
    </div>
  </div>

  <nav>
    <div class="nav nav-tabs " id="nav-tab" role="tablist">
      <button class="nav-link active" id="nav-guide-tab" data-bs-toggle="tab" data-bs-target="#nav-guide"
              type="button" role="tab" aria-controls="nav-guide" aria-selected="true">Guide
      </button>
      <button class="nav-link" id="nav-skill-tree-tab" data-bs-toggle="tab" data-bs-target="#nav-skill-tree"
              type="button" role="tab" aria-controls="nav-skill-tree" aria-selected="false">Skill tree
      </button>
      <button class="nav-link" id="nav-gear-and-gems-tab" data-bs-toggle="tab" data-bs-target="#nav-gear-and-gems"
              type="button" role="tab" aria-controls="nav-gear-and-gems" aria-selected="false">Gear and gems
      </button>
      {% if not build_guide.is_draft %}
        <button class="nav-link" id="nav-discuss-tab" data-bs-toggle="tab" data-bs-target="#nav-discuss"
                type="button" role="tab" aria-controls="nav-discuss" aria-selected="false">Discuss
        </button>
      {% endif %}
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-guide" role="tabpanel"
         aria-labelledby="nav-guide-tab">
      <div id='guide-spinner' class="lds-ring-big lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-skill-tree" role="tabpanel"
         aria-labelledby="nav-skill-tree-tab">
      <div id='skill-tree-spinner' class="lds-ring-big lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-gear-and-gems" role="tabpanel"
         aria-labelledby="nav-gear-and-gems-tab">
      <div id='gear-gems-spinner' class="lds-ring-big lds-ring">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-discuss" role="tabpanel"
         aria-labelledby="nav-discuss-tab">{% include 'discuss_tab.html' %}
    </div>
  </div>

  <script>
    const emptyHeart = `<svg height="20px" width="20px"
             viewBox="0 0 512 512"  style="margin-top: -2px">
            <path d="M474.644,74.27C449.391,45.616,414.358,29.836,376,29.836c-53.948,0-88.103,32.22-107.255,59.25
              c-4.969,7.014-9.196,14.047-12.745,20.665c-3.549-6.618-7.775-13.651-12.745-20.665c-19.152-27.03-53.307-59.25-107.255-59.25
              c-38.358,0-73.391,15.781-98.645,44.435C13.267,101.605,0,138.213,0,177.351c0,42.603,16.633,82.228,52.345,124.7
              c31.917,37.96,77.834,77.088,131.005,122.397c19.813,16.884,40.302,34.344,62.115,53.429l0.655,0.574
              c2.828,2.476,6.354,3.713,9.88,3.713s7.052-1.238,9.88-3.713l0.655-0.574c21.813-19.085,42.302-36.544,62.118-53.431
              c53.168-45.306,99.085-84.434,131.002-122.395C495.367,259.578,512,219.954,512,177.351
              C512,138.213,498.733,101.605,474.644,74.27z M309.193,401.614c-17.08,14.554-34.658,29.533-53.193,45.646
              c-18.534-16.111-36.113-31.091-53.196-45.648C98.745,312.939,30,254.358,30,177.351c0-31.83,10.605-61.394,29.862-83.245
              C79.34,72.007,106.379,59.836,136,59.836c41.129,0,67.716,25.338,82.776,46.594c13.509,19.064,20.558,38.282,22.962,45.659
              c2.011,6.175,7.768,10.354,14.262,10.354c6.494,0,12.251-4.179,14.262-10.354c2.404-7.377,9.453-26.595,22.962-45.66
              c15.06-21.255,41.647-46.593,82.776-46.593c29.621,0,56.66,12.171,76.137,34.27C471.395,115.957,482,145.521,482,177.351
              C482,254.358,413.255,312.939,309.193,401.614z" fill="currentcolor"></path>
          </svg>`

    const fullHeart = `<svg height="20px" width="20px"
             viewBox="0 0 512 512"  style="margin-top: -2px">
            <path d="M376,30c-27.783,0-53.255,8.804-75.707,26.168c-21.525,16.647-35.856,37.85-44.293,53.268
              c-8.437-15.419-22.768-36.621-44.293-53.268C189.255,38.804,163.783,30,136,30C58.468,30,0,93.417,0,177.514
              c0,90.854,72.943,153.015,183.369,247.118c18.752,15.981,40.007,34.095,62.099,53.414C248.38,480.596,252.12,482,256,482
              s7.62-1.404,10.532-3.953c22.094-19.322,43.348-37.435,62.111-53.425C439.057,330.529,512,268.368,512,177.514
              C512,93.417,453.532,30,376,30z" fill="currentcolor"></path>
          </svg>`

    function addRemoveLike() {
      let url = is_guide_liked ? "{% url 'remove_like' pk %}" : "{% url 'add_like' pk %}"
      let csrfToken = Cookies.get('csrftoken');
      $.ajax({
        url: url,
        headers: {'X-CSRFToken': csrfToken},
        type: 'post',
        success: function () {
          getLikes();
        }
      });
    }

    let is_guide_liked = false;

    function getLikes() {
      $.get(
        "{% url 'guide_likes' pk %}",
        function (data) {
          let likesAmount = data['likes_amount'];
          let doUserLike = data['do_user_like'];
          is_guide_liked = doUserLike
          let heart = doUserLike ? fullHeart : emptyHeart;
          let likeBtn = $('#like-btn');
          likeBtn.html(`${likesAmount} ${heart}`);

          let tooltip = bootstrap.Tooltip.getInstance(likeBtn);
          if (tooltip != null) {
            tooltip.dispose();
          }
          likeBtn.attr('title', doUserLike ? 'Unlike' : 'Like');
          let newTooltip = new bootstrap.Tooltip(likeBtn);
          likeBtn.blur()
        }
      );
    }

    $(document).ready(function () {
      loadGuideTab();
      {% if build_guide.is_public %}
        getLikes();
      {% endif %}
    });

    function loadGuideTab() {
      $.get(
        "{% url 'guide_tab' pk %}",
        function (data) {
          $("#nav-guide").append(data);
          attachTooltips();
          $("#guide-tab").ready(function () {
            $("#guide-spinner").fadeOut(150, function () {
              $("#guide-tab").fadeIn(150);
              $(this).remove();
            });
          });
          loadGearGemsTab();
          loadSkillTreeTab();
        });
    }

    function loadSkillTreeTab() {
      $.get(
        "{% url 'skill_tree_tab' pk %}",
        function (data) {
          $("#nav-skill-tree").append(data);
          $("#skill-tree-tab").ready(function () {
            $("#skill-tree-spinner").fadeOut(150, function () {
              $(this).remove();
              $("#skill-tree-tab").fadeIn(150);
            });
          });
        });
    }

    function loadGearGemsTab() {
      $.get(
        "{% url 'gear_gems_tab' pk %}",
        function (data) {
          $("#nav-gear-and-gems").append(data);
          $("#gear-gems-tab").ready(function () {
            $("#gear-gems-spinner").fadeOut(150, function () {
              $(this).remove();
              $("#gear-gems-tab").fadeIn(150);
              attachTooltips();
            });
          });
        });
    }

    function attachTooltips() {
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        let tooltip = bootstrap.Tooltip.getInstance(tooltipTriggerEl);
        if (tooltip == null) {
          tooltip = new bootstrap.Tooltip(tooltipTriggerEl);
        }
        return tooltip
      })

      var myDefaultAllowList = bootstrap.Tooltip.Default.allowList
      myDefaultAllowList.span = ['style']
      myDefaultAllowList.img = ['style', 'srcset', 'alt']
      myDefaultAllowList.div = ['style', 'class']
    }
  </script>

{% endblock %}
