<div id="skill-tree-tab" style="display: none">
  <div class="dropdown my-2">
    Skill tree:
    <div style="width: 180px" class="d-inline-block">
      <select id="tree_select" class="chosen-select" name='skilltrees'>
        {% for tree_graph_title in trees.keys %}
          <option value="{{ tree_graph_title }}"
                  {% if forloop.counter == build_guide.pob_details.active_tree_spec_index %}selected{% endif %}>
            {{ tree_graph_title }}
          </option>
        {% endfor %}
      </select>
    </div>
  </div>

  {% for title, tree in trees.items %}
    <div class='tree' data-title="{{ title }}"
         style="display: {% if forloop.counter == build_guide.pob_details.active_tree_spec_index %}block{% else %}none{% endif %}">
      <div class="my-2">
        <small>Link to passive tree:</small>
        <input id="treeUrl" class='align-middle w-25 d-inline form-control form-control-sm' disabled
               value="{{ tree.2 }}"/>
        <button style='width:75px' class="btn btn-sm btn-outline-light btn-secondary treeUrlCopyBtn"
                onclick="copyTreeUrl(this)">Copy
        </button>
      </div>
      <div class="row">
        <div class="col-8">
          {{ tree.0|safe }}
        </div>
        <div class="col-4">
          {% if tree.1 %}
            <h3>Keystones:</h3>
            {% for keystone in tree.1 %}
              <div class="bg-secondary border border-primary-lighter rounded-3 my-2 p-2">
                <h4>{{ keystone.name }}</h4>
                {% for keystone_stat in keystone.stats %}
                  <div class="small">{{ keystone_stat|linebreaksbr }}</div>
                {% endfor %}
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}

  <script>
    $("#tree_select").chosen({disable_search_threshold: 10, width: '100%'})

    $(function () {
      $("#tree_select").on('change', function (evt, params) {
        $("div.tree").each(function (i, element) {
          let title1 = params.selected
          let title2 = $(element).data("title").toString().trim()
          if (title1 === title2) {
            $(element).show()
          } else {
            $(element).hide()
          }
        })
      });
    });

    function copyTreeUrl(button) {
      /* Get the text field */
      var copyText = document.getElementById("treeUrl");

      /* Select the text field */
      copyText.select();
      copyText.setSelectionRange(0, 99999); /* For mobile devices */

      /* Copy the text inside the text field */
      navigator.clipboard.writeText(copyText.value);

      button.innerHTML = 'Copied!';

      setTimeout(function () {
        var copybtns = document.getElementsByClassName('treeUrlCopyBtn');
        [].forEach.call(copybtns, element => element.innerText = 'Copy');
      }, 3000);
    }
  </script>
</div>
