<div class="dropdown my-2">
  Skill tree:
  <button class="mx-1 btn btn-secondary text-light dropdown-toggle dropdown-toggle-tree" type="button"
          id="dropdownMenuButton2"
          data-bs-toggle="dropdown" aria-expanded="false">
    {% for tree_graph_title in trees.keys %}
      {% if forloop.counter == build_guide.pob_details.active_tree_spec_index %}
        {{ tree_graph_title }}
      {% endif %}
    {% endfor %}
  </button>
  <ul class="dropdown-menu dropdown-menu-tree dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
    {% for tree_graph_title in trees.keys %}
      <li>
        <button
          class="link dropdown-item {% if forloop.counter == build_guide.pob_details.active_tree_spec_index %}active{% endif %}">
          {{ tree_graph_title }}
        </button>
      </li>
    {% endfor %}
  </ul>
</div>
{% for title, tree in trees.items %}

  <div class='tree' data-title="{{ title }}"
       style="display: {% if forloop.counter == build_guide.pob_details.active_tree_spec_index %}block{% else %}none{% endif %}">
    <div class="my-2">
      <small>Link to passive tree:</small>
      <input id="treeUrl" class='align-middle w-25 d-inline form-control form-control-sm' disabled
             value="{{ tree.2 }}"/>
      <button id="treeUrlCopyBtn" style='width:75px' class="btn btn-sm btn-outline-light btn-secondary"
              onclick="copyTreeUrl(this)">Copy
      </button>
    </div>
    <div class="row">
      <div class="col-8">
        {{ tree.0|safe }}
      </div>
      <div class="col-4">
        <h3>Keystones:</h3>
        {% for keystone in tree.1 %}
          <div class="bg-secondary rounded-3 my-2 p-2">
            <h4>{{ keystone.name }}</h4>
            {% for keystone_stat in keystone.stats %}
              <div class="small">{{ keystone_stat|linebreaksbr }}</div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endfor %}

<script>$(function () {
  $(".dropdown-menu-tree li button").click(function () {
    $(".dropdown-toggle-tree").text($(this).text());
    $(".dropdown-toggle-tree").val($(this).text());
    $(".dropdown-menu-tree li button.active").removeClass('active')
    $(this).addClass('active')

    $("div.tree").each(function (i, element) {
      let title1 = $(".dropdown-toggle-tree").text().trim()
      let title2 = $(element).data("title").trim()
      if (title1 === title2) {
        $(element).show()
      } else {
        $(element).hide()
      }
    })
  });
});

function copyTreeUrl(button) {
  /* Get the text field */
  var copyText = document.getElementById("treeUrl");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

  /* Copy the text inside the text field */
  navigator.clipboard.writeText(copyText.value);

  button.innerHTML = 'Copied!';

  setTimeout(function () {
    var copybtn = document.getElementById('treeUrlCopyBtn')
    copybtn.innerText = 'Copy'
  }, 3000);
}
</script>
